modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Wallet Web"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Wallet Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5173 pnpm --filter @workspace/wallet-web run dev"
waitForPort = 5173

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8081

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
COINGECKO_API_KEY = "CG-J1j1EoWrfB5uDKSsNyxnwMNW"
HELIUS_API_KEY = "01943427-43ba-446a-8d0c-b4ac29a4afb5"
